html{
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

body{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

#topr{
    top: 0;
    position: relative;
    z-index: 1;
    background-color: #A0C6EA;
    height: 61px;
}

#top{
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 15;
    display: flex;
    background-color: #71A4D6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    height: 61px;
}

    #navbar_kiri{
        position: relative;
        display: flex;
        justify-content: flex-start;
        z-index: 10;
        width: 50%;
        flex-grow: 7;
    }

        #navbar_kiri a{
            display: block;
            padding: 15px 30px;
            text-decoration: none;
            color: #135799;
            background-color:#A0C6EA;
            font-size: 1.25rem;
            line-height: inherit;
        }

    #navbar_kanan {
        right: 17px;
        display: inline-flex;
        justify-content: flex-end;
        background-color: #71A4D6;
        position: relative;
        z-index: 11;
        flex-grow: 1;
    }

        #navbar_kanan #a{
            display: block;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
            color: #135799;
        }

        #navbar_kanan #a:hover{
            color: white;
            background-color: #5890CF;
            transition: 0.5s;
        }

        /*new*/
        .dropdown {
            width: auto;
            display: flex;
            align-items: center;
            padding: 0px 10px 0px 20px;
            cursor: pointer;
            color: #135799;
        }

        .dropdown:hover {
            background-color: #5890CF;
            color: white;
            transition: 0.5s;
        }

        .dropdown #p{
            position: relative;
        }
        
        .imgdrop{
            border-radius: 50%;
            border: 2px solid #135799;
            width: 38px;
            height: 38px;
            object-fit: cover;
            padding: 3px;
            margin-left: 5px;
        }

        #navbar_kanan #img{
            cursor: pointer;
            display: none;
            height: 25px;
            object-fit: cover;
            margin: 18px 5px 8px 15px;
        }

        #navbar_kanan #container {
            display: none;
            cursor: pointer;
            padding: 15px 15px 13px;
        }

            #bar1, #bar2, #bar3 {
                display: none;
                width: 30px;
                height: 3px;
                background-color: #ffffff;
                margin: 6px 0;
                transition: 0.4s;
            }

        .dropdown-content, #dropdown-content2 {
            display: none;
            position: absolute;
            right: 0px;
            top: 61px;
            background-color: #ffffff;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 25;
        }

        .dropdown-content .p2{
            position: relative;
            display: none;
            padding: 15px 35px;
            background-color: #dedede;
        }

        .dropdown-content a, #dropdown-content2 a{
            display: block;
            width: 130px;
            padding: 10px 40px;
            text-decoration: none;
            color: black;
        }

        .dropdown-content a:hover, #dropdown-content2 a:hover{
            background-color: #dedede;
            color: #063A74;
            transition: 0.5s;
        }

#body {
    float: center;
}

    #body #bodyartikel2 {
        width: 1000px;
        margin: 25px auto;
        top: 0;
        align-content: center;
    }

    #shadow{
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin-bottom: 15px;
    }

    #flexbod{
        display: flex;
        position: relative;
    }

    #padding{
        padding: 15px;
    }

    #padding2{
        padding-left: 10px;
    }

        #body #bodyartikel2 #leftposttop{
            flex-grow: 1;
            background-color: #5890CF;
            position: relative;
        }

        #body #bodyartikel2 #leftposttop2{
            display: none;
            flex-grow: 1;
            background-color: #5890CF;
            position: relative;
        }

        #body #bodyartikel2 #rightposttop{
            flex-grow: 13;
            background-color: #5890CF;
            color: rgb(0, 22, 49);
            position: relative;
        }

            #desc{
                color: #000000;
                position: absolute;
                left: -10px;
            }

            #desc2{
                color: #ffffff;
                left: -10px;
            }

            #qrcode{
                position: absolute;
                bottom: 30px;
                right: 30px;
            }

            #qrcode2{
                bottom: 30px;
                right: 30px;
            }

        #body #bodyartikel2 #leftpost{
            flex-basis: 140px;
            flex-grow: 5;
            padding: 10px 0;
        }

        #body #bodyartikel2 #leftpost2{
            flex-basis: 140px;
            flex-grow: 5;
            padding: 10px 0 40px;
        }

        #body #bodyartikel2 #rightpost{
            flex-basis: 100px;
            flex-grow: 13;
            padding: 10px 0;
        }

        #body #bodyartikel2 #rightpost2{
            flex-basis: 100px;
            flex-grow: 13;
            padding: 10px 0 40px;
        }

#obj-post{
    padding: 30px 50px 0 50px;
    position: relative;
}

#obj-post2{
    display: none;
    padding: 30px 50px 0 50px;
    position: relative;
}

#tag-flex{
    display: flex;
    flex-wrap: wrap;
}

#tag-flex2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

    #obj-post a, #obj-post2 a{
        margin-bottom: 7px;
        background-color: #ffffff;
        border-radius: 30px;
        cursor: pointer;
        text-decoration: none;
        border: 1px solid #F10034;
        padding: 2px 10px;
        align-content: center;
        color: #F10034;
        margin-right: 7px;
    }

    #obj-post a:hover, #obj-post2 a:hover{
        border: 1px solid #063A74;
        color: #063A74;
        transition: 0.5s;
    }

#obj-judul{
    font-size: 20px;
    font-weight: bold;
}

        #body #bodyartikel2 img{
            max-width: 340px;
            margin-bottom: -3px;
        }

        #body #bodyartikel2 #padding2 #a1{
            background-color: #FFEF00;
            display: block;
            text-align: center;
            width: 280px;
            color: #063A74;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
        }   

            #body #bodyartikel2 #padding2 #a1:hover {
                background-color: #E5D600;
                color: #063A74; 
                transition: 0.5s;                
            }

        #body #bodyartikel2 #padding2 #apos{
            color: #FFFFFF;
            background-color: #50B03B;
            border: 1px solid #50B03B;
            left: 350px;
            top: 25px;
            display: block;
            text-align: center;
            width: 130px;
            padding: 12px 20px;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
        }   

            #body #bodyartikel2 #padding2 #apos:hover {
                background-color: #1D780A;
                border: 1px solid #1D780A;
                color: #FFFFFF;
                transition: 0.5s;            
            }

        #body #bodyartikel2 #padding2 #a2{
            background-color: #F23059;
            display: block;
            width: 130px;
            text-align: center;
            color: #ffffff;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
        } 

            #body #bodyartikel2 #padding2 #a2:hover {
                background-color: #A50023;
                color: #ffffff; 
                transition: 0.5s;
            }

#infofooter600{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}   

#footer {
    position: absolute;
    width: 100vw;
    height: 50px;
    bottom: 0;
    color: white;
    background-color: #4D88C0;
    text-align: center;
    padding-bottom: 5px;
}

