/* 320PX Iphone --------------------------------------------------------------------*/
/* 320PX --------------------------------------------------------------------*/
/* 320PX --------------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 393px) {

  #navbar_kanan {
    right: 0;
  }

  .dropdown {
    display: block;
  }

  #navbar_kanan .p{
    display: none;
  }

  .imgdrop{
    margin: 6px 0 3px;
  }

  .dropdown-content, #dropdown-content2 {
    width: 140px;
  }

  #navbar_kanan .p2{
    display: block;
    padding: 15px 25px;
  }

  .dropdown-content a, #dropdown-content2 a{
    padding: 10px 30px;
  }

  #body #bodyartikel2 {
    width: 90vw;
  }

  #body #bodyartikel2 #leftbody {
    width: 100%;
  }

  #leftbody #col-25{
    width: 100%;
    padding: 0 0 5px; 
  }

  #leftbody #col-75{
    width: 100%;
    padding: 0 0 5px; 
  }

  #body #bodyartikel2 #rightbody {
    display: none;
  }

  #body #bodyartikel2 #rightbody2 {
    display: block;
  }

}

/* 394PX Very Small --------------------------------------------------------------------*/
/* 394PX --------------------------------------------------------------------*/
/* 394PX --------------------------------------------------------------------*/

@media (min-width: 394px) and (max-width: 575px){

  #navbar_kanan {
    right: 0;
  }

  .dropdown {
    display: block;
  }

  #navbar_kanan .p{
    display: none;
  }

  .imgdrop{
    margin: 6px 0 3px;
  }

  .dropdown-content, #dropdown-content2 {
    width: 200px;
  }

  #navbar_kanan .p2{
    display: block;
  }

  #body #bodyartikel2 {
    width: 80vw;
  }

  #body #bodyartikel2 #leftbody {
    width: 100%;
  }

  #leftbody #col-25{
    width: 100%;
    padding: 0 0 5px; 
  }

  #leftbody #col-75{
    width: 100%;
    padding: 0 0 5px; 
  }

  #body #bodyartikel2 #rightbody {
    display: none;
  }

  #body #bodyartikel2 #rightbody2 {
    display: block;
  }

}

/* 576PX Small --------------------------------------------------------------------*/
/* 576PX --------------------------------------------------------------------*/
/* 576PX --------------------------------------------------------------------*/

@media (min-width: 576px) and (max-width: 767px) {

  #navbar_kanan {
    right: 0;
  }
  
  .dropdown {
    display: block;
  }

  #navbar_kanan .p{
    display: none;
  }

  .imgdrop{
    margin: 6px 0 3px;
  }

  .dropdown-content, #dropdown-content2 {
    width: 200px;
  }

  #navbar_kanan .p2{
    display: block;
  }

  #body #bodyartikel2 {
    width: 550px;
  }

  #body #bodyartikel2 #leftbody {
    width: 100%;
  }

  #body #bodyartikel2 #rightbody {
    display: none;
  }

  #body #bodyartikel2 #rightbody2 {
    display: block;
  }

}

/* 768PX Medium --------------------------------------------------------------------*/
/* 768PX --------------------------------------------------------------------*/
/* 768PX --------------------------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {

  #body #bodyartikel2 {
    width: 750px;
  }

  #body #bodyartikel2 #leftbody {
    width: 440px;
  }

  #leftbody #col-25{
    width: 100%;
    padding: 0 0 5px; 
  }

  #leftbody #col-75{
    width: 100%;
    padding: 0 0 5px; 
  }

  #body #bodyartikel2 #rightbody {
    margin-left: 475px;
    width: 280px;
  }

}

/* 992PX Large --------------------------------------------------------------------*/
/* 992PX --------------------------------------------------------------------*/
/* 992PX --------------------------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1199px) {

  #body #bodyartikel2 {
    width: 950px
  }

  #body #bodyartikel2 #leftbody {
    width: 560px;
  }

  #body #bodyartikel2 #rightbody {
    margin-left: 595px;
    width: 350px;
  }

}

@media (min-width: 1200px) {
}
