html{
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

body{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

#topr{
    top: 0;
    position: relative;
    z-index: 1;
    background-color: #A0C6EA;
    height: 61px;
}

#top{
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 15;
    display: flex;
    background-color: #71A4D6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    height: 61px;
}

    #navbar_kiri{
        position: relative;
        display: flex;
        justify-content: flex-start;
        z-index: 10;
        width: 50%;
        flex-grow: 7;
    }

        #navbar_kiri a{
            display: block;
            padding: 15px 30px;
            text-decoration: none;
            color: #135799;
            background-color:#A0C6EA;
            font-size: 1.25rem;
            line-height: inherit;
        }

    #navbar_kanan {
        right: 17px;
        display: inline-flex;
        justify-content: flex-end;
        background-color: #71A4D6;
        position: relative;
        z-index: 11;
        flex-grow: 1;
    }

        #navbar_kanan #a{
            display: block;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
            color: #135799;
        }

        #navbar_kanan #a:hover{
            color: white;
            background-color: #5890CF;
            transition: 0.5s;
        }

        /*new*/
        .dropdown {
            width: auto;
            display: flex;
            align-items: center;
            padding: 0px 10px 0px 20px;
            cursor: pointer;
            color: #135799;
        }

        .dropdown:hover {
            background-color: #5890CF;
            color: white;
            transition: 0.5s;
        }

        .dropdown #p{
            position: relative;
        }
        
        .imgdrop{
            border-radius: 50%;
            border: 2px solid #135799;
            width: 38px;
            height: 38px;
            object-fit: cover;
            padding: 3px;
            margin-left: 5px;
        }

        #navbar_kanan #img{
            cursor: pointer;
            display: none;
            height: 25px;
            object-fit: cover;
            margin: 18px 5px 8px 15px;
        }

        #navbar_kanan #container {
            display: none;
            cursor: pointer;
            padding: 15px 15px 13px;
        }

            #bar1, #bar2, #bar3 {
                display: none;
                width: 30px;
                height: 3px;
                background-color: #ffffff;
                margin: 6px 0;
                transition: 0.4s;
            }

        .dropdown-content, #dropdown-content2 {
            display: none;
            position: absolute;
            right: 0px;
            top: 61px;
            background-color: #ffffff;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 25;
        }

        .dropdown-content .p2{
            position: relative;
            display: none;
            padding: 15px 35px;
            background-color: #dedede;
        }

        .dropdown-content a, #dropdown-content2 a{
            display: block;
            width: 130px;
            padding: 10px 40px;
            text-decoration: none;
            color: black;
        }

        .dropdown-content a:hover, #dropdown-content2 a:hover{
            background-color: #dedede;
            color: #063A74;
            transition: 0.5s;
        }

#body {
    float: center;
}

    #body #bodyartikel2 {
        width: 1000px;
        margin: 25px auto;
        top: 0;
    }

        #body #bodyartikel2 #leftbody {
            width: 250px;
            position: absolute;
        }

.objleft{
    padding-left: 10px;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    margin-bottom: 20px;
}

    .objleft a{
        display: block;
        text-decoration: none;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        color: #000000;
        cursor: pointer;
        font-size: 18px;
    }

    .objleft:hover{
        border: 1px solid #063A74;
    }

    .objleft a:hover{
        color: #063A74;
    }

.active{
    padding-left: 10px;
    border: 1px solid #063A74;
    border-radius: 10px;
    margin-bottom: 20px;
}

    .active a{
        display: block;
        text-decoration: none;
        width: 100%;
        cursor: pointer;
        font-size: 18px;
        color: #063A74;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
    }   

    #body #bodyartikel2 #mainright{
        width: 73%;
        margin-left: 290px;
    }

        #body #bodyartikel2 #mainright #rightbody3 {
            width: 100%;
            height: 100%;
            margin-top: 10px;
            border: 1px solid #D8D8D8;
            border-radius: 10px;
            display: flex;
            position: relative;
        }

#objright3{
    width: 27%;
    flex-grow: 1;
    max-height: 250px;
}

    #objright3 img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 0 0 10px ;
        margin-bottom: -4px;
    }

#objright4{
    width: 80%;
    padding: 25px 30px 20px 30px;
    position: relative;
}

    #objright4 #desc{
        padding-right: 30px;
    }

        #objright4 #desc #namatx{
            font-size: 18px;
            font-weight: bold;
            text-align: left;
            color: #484848;
            padding-bottom: 10px;
        }

        #objright4 #desc #datetx {
            text-align: left;
            font-size: 15px;
        } 

        #objright4 #desc #kettx {
            margin-top: 5px;
            text-align: left;
            font-size: 15px;
        } 

    #items1{
        width: 50px;
        right: 60px;
        top: 15px;
        position: absolute;
    }

        #items1 a{
            color: #FFFFFF;
            background-color: #50B03B;
            display: block;
            text-align: center;
            width: 100%;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 13px;
        }

        #items1 a:hover {
            background-color: #1D780A;
            color: #FFFFFF;
            transition: 0.5s;
        }

    #items2{
        width: 50px;
        right: 60px;
        top: 55px;
        position: absolute;
    }

        #items2 a{
            background-color: #D60B3E;
            color: #FFFFFF;
            display: block;
            text-align: center;
            width: 100%;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 13px;
        }

        #items2 a:hover {
            background-color: rgb(151, 0, 38);
            color: #FFFFFF;
            transition: 0.5s;
        }

    #botawait{
        width: 150px;
        bottom: 15px;
        position: absolute;
    }

        #botawait a{
            background-color: #4D88C0;
            color: #FFFFFF;
            display: block;
            text-align: center;
            width: 100%;
            text-decoration: none;
            padding: 12px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 13px;
        }

        #botacek a:hover, #botawait a:hover{
            background-color: #135799;
            color: #FFFFFF;
            transition: 0.5s;
        }
 
    input[type=text]{
        position: absolute;
        bottom: 15px;
        width: 100px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        resize: vertical;
        font-size: 13px;
    }

    #botaapp{
        width: 50px;
        bottom: 15px;
        position: absolute;
    }

        #botaapp a{
            color: #FFFFFF;
            background-color: #50B03B;
            display: block;
            text-align: center;
            width: 100%;
            text-decoration: none;
            padding: 12px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 13px;
        }

    #botaapppay{
        width: 50px;
        bottom: 15px;
        left: 155px;
        position: absolute;
    }

        #botaapppay a{
            color: #FFFFFF;
            background-color: #50B03B;
            display: block;
            text-align: center;
            width: 100%;
            text-decoration: none;
            padding: 12px 20px;
            border-radius: 0 4px 4px 0;
            cursor: pointer;
            font-size: 13px;
        }

        #botaapppay a:hover, #botaapp a:hover {
            background-color: #1D780A;
            color: #FFFFFF;
            transition: 0.5s;
        }

    #botarej{
        width: 100px;
        bottom: 15px;
        left: 125px;
        position: absolute;
    }

    #botarejpay{
        width: 100px;
        bottom: 15px;
        left: 250px;
        position: absolute;
    }

        #botarej a, #botarejpay a{
            background-color: #D60B3E;
            color: #FFFFFF;
            display: block;
            text-align: center;
            text-decoration: none;
            width: 100%;
            padding: 12px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 13px;
        }

        #botarej a:hover, #botarejpay a:hover {
            background-color: rgb(151, 0, 38);
            color: #FFFFFF;
            transition: 0.5s;
        }

#infofooter600{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}   

#footer {
    position: absolute;
    width: 100vw;
    height: 50px;
    bottom: 0;
    color: white;
    background-color: #4D88C0;
    text-align: center;
    padding-bottom: 5px;
}
