/* 320PX Iphone --------------------------------------------------------------------*/
/* 320PX --------------------------------------------------------------------*/
/* 320PX --------------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 393px) {

  #navbar_kanan {
    right: 0;
  }

  #body #bodyartikel{
    width: 90%;
  }

  #register #col-25{
    width: 100%;
    padding: 0;
  }

  #register #col-25r{
    width: 100%;
    padding: 0;
  }

  #register #col-75{
    width: 100%;
    padding: 0;
  }

}

/* 394PX Very Small --------------------------------------------------------------------*/
/* 394PX --------------------------------------------------------------------*/
/* 394PX --------------------------------------------------------------------*/

@media (min-width: 394px) and (max-width: 575px){

  #navbar_kanan {
    right: 0;
  }

  #body #bodyartikel{
    width: 90%;
  }

  #register #col-25{
    width: 30%;
  }

  #register #col-25r{
    width: 100%;
  }

  #register #col-75{
      width: 70%;
  }
}

/* 576PX Small --------------------------------------------------------------------*/
/* 576PX --------------------------------------------------------------------*/
/* 576PX --------------------------------------------------------------------*/

@media (min-width: 576px) and (max-width: 767px) {

  #navbar_kanan {
    right: 0;
  }

  #body #bodyartikel {
    width: 80%;
  }

  #register #col-25{
    width: 25%;
  }

  #register #col-25r{
    width: 25%;
  }

  #register #col-75{
      width: 75%;
  }
  
}

/* 768PX Medium --------------------------------------------------------------------*/
/* 768PX --------------------------------------------------------------------*/
/* 768PX --------------------------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {

  #register #col-25{
    width: 25%;
  }

  #register #col-75{
      width: 75%;
  }
}

/* 992PX Large --------------------------------------------------------------------*/
/* 992PX --------------------------------------------------------------------*/
/* 992PX --------------------------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}